<div class="card-block v-friend">
    <app-friend [friend]="friendship.friend"></app-friend>

    <p class="card-text" *ngIf="friendship.meetings.length">
        {{getMostRecentMeeting()}}
        <label class="tag tag-pill tag-danger" *ngIf="isMostRecentMeetingTooOld()">too old</label>
    </p>

    <!--<div id="meeting-creation-failed" class="alert alert-danger" *ngIf="meetingCreationFailed">
        <button type="button" class="close" aria-label="Close" (click)="meetingCreationFailed = false;">
            <span aria-hidden="true">&#215;</span>
        </button>
        You already met {{friendship.friend.name}} that day
    </div>-->

    <ng2-datepicker (outputEvents)="met($event)"></ng2-datepicker>

    <!--<button (click)="delete()" class="btn btn-danger">delete {{friendship.friend.name}}</button>-->
</div>