<div class="card-desk-wrapper">
    <div class="card-deck v-h-scrollable">
        <app-friendship-group *ngFor="let currentFriendshipGroup of friendshipGroups"
            [friendshipGroup]="currentFriendshipGroup"
            (requestDelete)="deleteFriendshipGroup($event)">
        </app-friendship-group>

        <app-create-friendship-group [friendshipGroups]="friendshipGroups"></app-create-friendship-group>

    </div>
</div>

<!--<button (click)="save()" class="btn btn-success">Save</button>-->