<div>
    <div class="alert alert-danger" *ngIf="friendshipGroupCreationFailed">
        <button type="button" class="close" aria-label="Close" (click)="friendshipGroupCreationFailed = false;"><span aria-hidden="true">&#215;</span></button>
        Sorry, this group name already exists. Choose another name please.
    </div>

    <div *ngFor="let currentFriendshipGroup of friendshipGroups">
        <app-friendship-group
            [friendshipGroup]="currentFriendshipGroup"
            (requestDelete)="deleteFriendshipGroup($event)">
        </app-friendship-group>
    </div>

    <app-toggle-show-create-friendship-group (friendshipGroupCreated)="tryCreateFriendshipGroup($event)"></app-toggle-show-create-friendship-group>

    <button (click)="save()" class="btn btn-success">Save</button>
</div>
