<div class="card v-card">
    <h3 class="card-header">{{friendshipGroup.name}}</h3>

    <app-friendship
        *ngFor="let currentFriendship of friendshipGroup.friendships"
        [friendship]="currentFriendship"
        [maxWeekSpanBetweenMeetings]="friendshipGroup.maxWeekSpanBetweenMeetings"
        (deleteFriendship)="deleteFriendship($event)">
    </app-friendship>

    <app-create-friendship [friendships]="friendshipGroup.friendships"></app-create-friendship>

    <!--<button (click)="requestDeleteFriendshipGroup()" class="btn btn-danger">delete {{friendshipGroup.name}}</button>-->
</div>