<div class="card v-card">
    <h3 class="card-header">
        {{friendshipGroup.name}}

        <button type="button" (click)="requestDeleteFriendshipGroup()" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </h3>

    <app-friendship
        *ngFor="let currentFriendship of friendshipGroup.friendships"
        [friendship]="currentFriendship"
        [maxWeekSpanBetweenMeetings]="friendshipGroup.maxWeekSpanBetweenMeetings"
        (deleteFriendship)="deleteFriendship($event)">
    </app-friendship>

    <app-create-friendship [friendships]="friendshipGroup.friendships"></app-create-friendship>
</div>